* {
    font: "Monaspace Xenon 14";
}

configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "󰿄";
	location: 8;
}

listview {
    columns: 1;
    lines: 3;
    fixed-height: true;
    fixed-columns: true;
    cycle: false;
    scrollbar: true;
    border: 10px solid;
}

window {
    transparency: "real";
    width: 550px;
}

