@import "_bar";


* {
	font-family: "Product Sans";
	all: unset;
}

tooltip {
	color: $foreground;
	font-family: "Product Sans";
	background: $background;
	padding: 0.9rem;
	border-radius: 10px;
}

.icon {
	font-family: Material Design Icons;
}
