window {
    margin: 0px;
    border: 5px solid #CCCCCC;
    border-style: double;
    border-radius: 8px;
    background-color: #4B4B4B;
    font-family: "GohuFont 11 Nerd Font Mono";
    font-size: 18px;
}

#input {
    margin: 10px;
    border: 1px solid #BCBFBA;
    border-radius: 5px;
    color: #333333;
    background-color: #BCBFBA;
}


#inner-box {
    margin: 5px;
    border: none;
    background-color: #4B4B4B;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #4B4B4B;
}

#scroll {
    margin: 0px;
    border: none;
}


#entry:selected {
    background-color: #4B4B4B;
    font-weight: normal;
    border: solid;
    border-radius: 3px;
}

#text {
    margin: 0px 0px 0px 9px;
    overflow: hidden;
    border: solid;
    width: 0px;
    color: #F2F2F1;
    font-weight: normal;
    transition: width 0.3s ease-in-out;
    padding: 5px 0px 5px 0px;
}

#text:selected {
    background-color: #75BCBD;
    border-radius: 2px;
    width: 100px;
    color: #4B4B4B;
}

